@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.navleft {
  background-color: rgba(53, 32, 32, 0.849);
  overflow: hidden;
  width: 100vw;
  height: 80px;
  text-align: center;
}

.item {
  float: left;
  color: #ecead8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 50px;
}

.name-title {
  float: left;
  color: #ecead8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
  margin-top: 5px;
  margin-left: 40px;
  margin-right: 50px;
}

.navright {
  float: right;
  text-align: center;
  margin-right: 20px;
}

.banner {
  display: flex;
  background-color: rgba(53, 32, 32, 0.849);
  padding-top: 40px;
}

.main1 {
  width: 30%;
  height: 30%;
  margin: 50px;
  margin-left: 150px;
}

blockquote {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  width: 550px;
  margin-left: 60px;
  margin-top: 100px;
  color: #ecead8;
}

blockquote p {
  font-size: 40px;
  margin-top: 20px;
}

.about {
  background-color: rgb(231, 197, 153);
  padding: 50px;
  position: relative;
  height: 600px;
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.person {
  width: 30%;
  margin-left: 20px;
  align-items: center;
}

.text {
  text-align: center;
  width: 80vw;
  margin-right: 0;
  margin-left: 100px;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 400;
}

.button {
  position: absolute;
  left: 50%;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  background-color: bisque;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.button:active {
  transform: translateY(2px);
}

.footer {
  background-color: bisque;
  width: auto;
  height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 20px;
}
